<header>
  <%= link_to '/' do %>
    <%= image_tag '' %>
  <% end %>

  <nav>
    <%= link_to project_activities_path do %>
      <strong><%= @project.name %></strong>
    <% end %>

    &#62;

    <%= link_to 'Activities', project_activities_path %>
    <%= link_to 'Progress', project_records_path %>
    <%#= link_to 'Reports', project_reports_path %>
  </nav>
</header>