<header>
  <%= link_to '/' do %>
    <%= image_tag '' %>
  <% end %>

  <nav>
    <%= link_to project_activities_path do %>
      <strong><%= @project.name %></strong>
    <% end %>

    &#62;

    <%= link_to t("pages.activities"), project_activities_path %>
    <%= link_to t("pages.progress"), project_records_path %>
    <%= link_to t("pages.reports"), project_reports_path %>
  </nav>
</header>