<h1><%= t("actions.record.edit") %></h1>

<%= link_to t("nav.back"), project_records_path %>

<%= render partial: "form", locals: { action: :update } %>

<%= form_with method: "delete", model: [ @project, @building_unit, @record ] do |form| %>
  <%= form.submit t("actions.record.delete") %>
<% end %>