<tr>
  <td><%= activity.id %></td>
  <td><%= activity.name %></td>
  <td><%= activity.planned_start_date %></td>
  <td><%= activity.planned_end_date %></td>
  <td><%= activity.start_date %></td>
  <td><%= activity.end_date %></td>
  <td>
    <span>(<%= activity.subcontractors.count %>)</span>
    <span><%= activity.subcontractor_names %></span>
  </td>
  <td><%= activity.obs %></td>
  <td>
    <%= link_to "Delete", [activity.project, activity], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure you want to delete the activity? Action may not be restored"
    } %>
  </td>
</tr>